section.section {
    width: 1300px;
    margin: auto;

    background: radial-gradient(29.49% 50% at 73.44% 50%, rgba(39, 39, 39, 0.8) 0%, rgba(39, 39, 39, 0.11) 100%);
    box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    border: rgba(150, 150, 150, 0.22) 1px solid;
}

.section__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 55px 30px;
    gap: 60px;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
}

.content__text {
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
}

.preview__head {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;

    color: #000000;
}

.preview__title {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0;
    gap: 10px;
    border-width: 2px 0;
    border-style: solid;
    border-color: #8e2430;
}

.title__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: #000000;
}

.preview__info {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #000000;
}

.preview__cost {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    color: #000000;
}

.content__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 50px;
    gap: 10px;
    background: #8e2430;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.content__button:hover {
    transform: scale(1.05);
    margin: 0 10px;
}

.content__button:active {
    transform: scale(0.95);
}

.add_to_cart {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

    color: #FFFFFF;
}

.vinyl {
    width: 420px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 25%;
}

.content__button:hover .vinyl {
    filter: drop-shadow(2px 2px 4px black);
}

.vinyl:hover {
    filter: drop-shadow(2px 2px 4px black);
}

.vinyl__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

@media(max-width: 1380px) {
    section.section {
        width: 1000px;
    }

    .content__text {
        width: 475px;
    }

    .vinyl {
        width: 500px;
        scale: 0.7;
        top: 50%;
        right: 0;
        transform: translate(0, -75%);
    }
}

@media(max-width: 1120px) {
    section.section {
        width: 834px;

        background: rgba(39, 39, 39, 0.11);
        box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        border-radius: 20px;
    }

    .content__text {
        width: 100%;
        padding-top: 350px;
    }

    .vinyl {
        scale: 1;
        top: -45%;
        transform: translate(50%, 50%);
        right: 50%;
    }
}

@media(max-width: 800px) {
    section.section {
        width: 650px;
    }

    #prev {
        margin-top: 100px;
    }

    .vinyl {
        scale: 0.8;
        width: max-content;
        /* height: auto; */
        top: -55%;
        transform: translate(-50%, 50%);
        right: -38%;
    }
}

@media(max-width: 720px) {
    section.section {
        width: 500px;
    }

    #prev {
        margin-top: 0;
    }

    .content__text {
        width: 100%;
        padding-top: 250px;
        gap: 24px;
    }

    .vinyl {
        scale: 0.5;
        width: 600px;
        height: auto;
        top: -35%;
        transform: translate(-65%, 0%);
        right: -50%;
    }

    .preview__head {
        font-size: 25px;
    }

    .preview__title {
        padding: 10px 0px;
        gap: 10px;

        border-width: 2px 0;

    }

    .title__text {
        font-size: 15px;
    }

    .preview__info {
        font-size: 10px;
    }

    .preview__cost {
        font-size: 25px;
    }

    .content__button {
        padding: 12px 50px;
        gap: 10px;

        border-radius: 10px;
    }

    .content__button:hover .add_to_cart {
        font-size: 14px;
    }

    .add_to_cart {
        font-size: 15px;
    }

    .section__content {
        padding: 20px;
        gap: 30px;
    }
}

@media(max-width: 576px) {
    section.section {
        width: 310px;
    }

    #prev {
        margin-top: 50px;
    }

    .content__text {
        padding-top: 195px;
    }

    .vinyl {
        scale: 0.4;
        width: max-content;
        height: auto;
        top: -50%;
        transform: translate(4.5%, 0%);
        right: -50%;
    }
}