.position__frame {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-start;
    padding: 0;
    gap: 20px;
}

.pos__img__group {
    width: 200px;
    height: 200px;

    position: relative;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pos__record__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.position__content {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 0 20px;
    column-gap: 50px;
    row-gap: 20px;
}

.content__heading {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

#price__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 10px;

    background: #FFFFFF;
    border-radius: 5px;

    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    line-height: 150%;

    color: #000000;
}

.content__counter {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.minus__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    background: rgba(39, 39, 39, 0.6);
    border-radius: 5px;

    cursor: pointer;
}

.minus__icon {
    transition: transform 0.1s;
}

.minus__button:hover .minus__icon {
    transform: scale(1.05);
}

.minus__button:active .minus__icon {
    transform: scale(0.95);
}

.plus__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 38px;
    height: 38px;
    transition: transform 0.1s;

    background: #272727;
    border-radius: 5px;

    cursor: pointer;
}

.plus__icon {
    width: 18px;
    height: 18px;
    transition: transform 0.1s;
}

.plus__button:hover .plus__icon {
    transform: scale(1.05);
}

.plus__button:active .plus__icon {
    transform: scale(0.95);
}

.counter__frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    gap: 10px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.count__text {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 24px;

    color: #000000;
}

@media(max-width: 750px) {
    .position__frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 20px;

        width: 266px;
        height: auto;

        flex-wrap: wrap;
        align-content: center;
    }

    .pos__img__group {
        width: 266px;
        height: 200px;
    }

    .pos__record__image {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }

    .position__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        gap: 20px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .content__heading {
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .content__counter {
        width: 100%;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .counter__frame {
        width: 100%;
    }
}