#cart {
    width: auto;
    height: 50vh;

    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: flex-start;

    margin: 0 40px;
}

section.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 30px;
    gap: 50px;

    width: 100%;
    height: fit-content;
    max-height: 715px;
    min-width: 650px;

    background: rgba(47, 48, 61, 0.11);
    box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.cart__frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    gap: 40px 20px;

    width: 100%;
    height: auto;
    overflow-y: auto;
}

.cart__frame::-webkit-scrollbar-track  {
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0);
}

.cart__frame::-webkit-scrollbar  {
    width: 8px;
    height: 8px;
    background-color: rgba(245, 245, 245, 0);
}

.cart__frame::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

@media(max-width: 500px) {
    .cart__frame::-webkit-scrollbar  {
        width: 4px;
        height: 4px;
        background-color: rgba(245, 245, 245, 0);
    }
}

.cart__fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 20px 0 0;
    gap: 40px 20px;

    width: 100%;
    height: auto;
}

aside.cart {
    width: 100%;
    max-width: 552px;
    height: auto;

    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
}

article.payments {
    width: 100%;
    height: auto;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 30px;
    gap: 20px;

    background: rgba(47, 48, 61, 0.11);
    box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.cart__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;

    color: #000000;
}

article.cart__price {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 30px;
    gap: 20px;

    width: 100%;
    height: auto;

    background: rgba(47, 48, 61, 0.11);
    box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.cart__status {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 50px;
}

.objects__count {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    color: #000000;
}

.final__price {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    color: #000000;
}

.error__container {
    width: auto;
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    align-self: stretch;
}

.error__image {}

.image__content {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 4px 0;
}

.error__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.error__head {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.error__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14.8331px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.6);
}

@media(max-width: 1300px) {
    #cart {
        flex-direction: column-reverse;
    }

    aside.cart {
        width: 100%;
        max-width: 1300px;
        height: 450px;

        background: rgba(47, 48, 61, 0.11);
        box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 15px;
        gap: 20px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 35px 30px;
    }

    article.cart__price, article.payments {
        width: 100%;
        padding: 0;

        background: rgba(0, 0, 0, 0);
        box-shadow: none;
        backdrop-filter: none;
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 0;
    }

    #success {
        width: auto;

        position: absolute;
        bottom: 35px;
        left: 30px;
        right: 30px;
    }

    .cart__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
    }

    .objects__count, .final__price {
        font-size: 16px;
    }
}

@media(max-width: 1120px) {
    #cart {
        margin-top: -100px;
    }
}

@media(max-width: 750px) {
    #cart {
        flex-wrap: wrap;
    }

    section.cart {
        height: 410px;
        min-width: 0;
        padding: 25px 20px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .cart__fluid {
        justify-content: center;
        padding: 0 5px 0 0;
    }

    aside.cart {
        height: fit-content;
        gap: 0;
    }

    article.payments {
        scale: 0;
        width: 0;
        height: 0;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);

        transition: scale 0.3s ease-in-out;
    }

    #success {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
}


@media(max-width: 720px) {
    #cart {
        margin: -50px 20px 20px;
    }
}

@media(max-width: 570px) {
    .cart__heading {
        font-size: 18px;
    }

    .objects__count, .final__price {
        font-size: 12px;
    }
}

@media(max-width: 360px) {
    #cart {
        margin: -50px 20px 20px;
    }
}