#account {
    width: auto;
    min-height: 50vh;

    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: flex-start;
}

.authes {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

@media(max-width: 1120px) {
    #account {
        margin-top: -100px;
    }
}

@media(max-width: 720px) {
    #account {
        margin: -50px 20px 20px;
    }
}

@media(max-width: 576px) {
    #account {
        margin: 0 20px;
    }
}

@media(max-width: 360px) {
    #account {
        margin: -50px 20px 20px;
    }
}