#account {
    width: auto;
    min-height: 50vh;

    margin: 0 40px;

    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

aside.account__aside {
    width: fit-content;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 20px;

    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 32px 32px -24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    border: rgba(150, 150, 150, 0.22) 1px solid;
}

ul#acc__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

li.account__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    background: rgba(255, 255, 255, 0);
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    cursor: pointer;
}

li.account__list:hover {
    background: rgba(180, 184, 204, 0.14);
}

.list__icon {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.list__image {
    width: 20px;
    /* min-width: 15px; */
    /* max-width: 18px; */
    object-fit: fill;
}

.list__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #000000;
}

section.account__section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 20px;
}

#acc__register {
    width: 100%;
    height: fit-content;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    gap: 20px;

    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    border: rgba(150, 150, 150, 0.22) 1px solid;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
}

#user80 {
    width: 80px;
    height: 80px;
}

.user__content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
}

.user__initials {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #000000;

    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.user__email {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #000000;
}

.user__email, .user__initials {
    max-width: 1100px;
}

.exit__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    width: 66px;
    height: 80px;

    cursor: pointer;
}

.exit__image {
    width: auto;
    height: auto;
    object-fit: contain;
}

.authes {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.orders__history {
    display: grid;
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: start;
}

.section__div__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.heading__icon {
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.heading__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    color: #000000;
}

.orders {
    width: 100%;
    height: 280px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.orders::-webkit-scrollbar-track  {
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0);
}

.orders::-webkit-scrollbar  {
    width: 8px;
    height: 8px;
    background-color: rgba(245, 245, 245, 0);
}

.orders::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

@media(max-width: 500px) {
    .orders::-webkit-scrollbar  {
        width: 4px;
        height: 4px;
        background-color: rgba(245, 245, 245, 0);
    }
}

.orders__fluid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    padding-right: 10px;

    width: 100%;
    height: auto;
}

.payments__types {
    width: auto;
    height: fit-content;

    display: grid;
    gap: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: start;
}

.payments__block {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    min-width: 200px;
    height: fit-content;

    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 32px 32px -24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    border: rgba(150, 150, 150, 0.22) 1px solid;
}

@media(max-width: 1120px) {
    #account {
        margin-top: -100px;
    }

    .user__initials, .user__email {
        max-width: calc(100vw - 550px);
    }

    .exit__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 20px;

        width: 26px;
        height: 80px;
    }
}

@media(max-width: 850px) {
    #account {
        gap: 0;
    }

    aside.account__aside {
        scale: 0;
        padding: 0;
        width: 0;
        height: 0;
    }

    .user__initials, .user__email {
        max-width: calc(100vw - 250px);
    }

    .payments__types, .orders__history {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .orders__history {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .payments__types {
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media(max-width: 720px) {
    #account {
        margin: -50px 20px 20px;
    }
}

@media(max-width: 576px) {
    #account {
        margin: -50px 20px;
    }

    #acc__register {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .exit__frame {
        width: 100%;
    }

    #user80 {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .user__content {
        gap: 0;
    }

    .user__initials {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }

    .user__email {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
    }

    .user__initials, .user__email {
        max-width: calc(100vw - 120px);
    }

    section.account__section {
        row-gap: 20px;
    }

    .section__div__heading {
        gap: 5px;
    }

    .heading__icon {
        width: 18px;
        height: 18px;
    }

    .heading__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }

    .orders {
        height: 128px;
    }

    .payments__block {
        box-sizing: border-box;

        padding: 10px 20px;
        gap: 20px;

        height: fit-content;
    }
}

@media(max-width: 360px) {
    #account {
        margin: -50px 20px 20px;
    }
}